<p>requirement-form works!</p>
debug: {{ fg.value | json }}
<hr />
<div class="w-50">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div class="">
      <label class="form-label" for="title">Title</label>
      <input
        class="form-control"
        [class.is-invalid]="title.errors && title.touched"
        formControlName="title"
        id="title"
        type="text"
      />
      <small class="invalid-feedback">Title is required</small>
    </div>
    <div class="mt-3">
      <label class="form-label" for="contactMobileNo">Contact Mobile No</label>
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': contactMobileNo.errors && contactMobileNo.touched
        }"
        formControlName="contactMobileNo"
        id="contactMobileNo"
        type="text"
        maxlength="10"
      />
      <small class="invalid-feedback">
        @if (contactMobileNo.hasError('required')) { Contact Mobile No is
        required } @else if (contactMobileNo.hasError('thMobile')) { Contact
        Mobile No should be Thai mobile format }
      </small>
    </div>
    <div class="mt-3 d-flex justify-content-between">
      <button class="btn btn-secondary" (click)="onBack()" type="button">
        Back
      </button>
      <button [disabled]="!fg.valid" class="btn btn-primary" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
