debug : {{ fg.value | json }}
<div class="d-flex justify-content-center">
  <form class="w-50" [formGroup]="fg" (ngSubmit)="onLogin()" >

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
    </div>

    <div *ngIf="errorMessage" class="text-danger mb-3">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
